@import 'src/styles/Default.scss';

.content{
  display: flex;
  flex-direction: column;
  align-items: center;

  .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fdf1eb;
    padding: 8px 40px;
    height: 78.4px;
    gap: 8px;

    .headerTitle{
      display: flex;
      flex-direction: column;
      gap: 3px;

      p{
        font-family: $roboto;
        font-weight: 300;
        font-size: .75rem;
        color: rgb(85, 85, 85);
      }

      h3{
        font-family: $roboto;
        font-weight: 400;
        font-size: .875rem;
        color: rgb(85, 85, 85);
      }
    }

    .languageUserContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .language-container{
        display: flex;
        align-items: center;
        gap: 3px;
        border-radius: 5px;
        border: 1px solid rgb(192, 188, 188);
        padding: 3px;

        select{
          border: none;
          outline: none;
          background-color: transparent;
          appearance: none;
        }
      }

      .user-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        .img-container{
          position: relative;

          span{
            font-family: $roboto;
            font-weight: 400;
            font-size: .5rem;
            color: white;
            background-color: red;
            padding: 1px 4px;
            border-radius: 100%;
            position: absolute;
            right: 0;
            top: 0;
          }

          img{
            width: 32px;
            height: 32px;
            border-radius: 100%;
          }
        }

        .user-article{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3px;

          h5{
            font-family: $roboto;
            font-weight: 300;
            font-size: .9375rem;
            color: rgb(68, 68, 68);
          }

          p{
            font-family: $roboto;
            font-weight: 300;
            font-size: .8rem;
            color: rgb(97, 97, 97);
            letter-spacing: 1.2px;
          }
        }
      }
    }
  } 

  footer{
    max-width: 1100px;
    width: 100%;
    margin-top: 30px;

    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@media(min-width: 768px){
  :host{
    display: grid;
    grid-template-columns: 250px auto;
  }
  .content{

    .header{
      flex-direction: row;
      padding: 10px;
      justify-content: space-between;

      .headerTitle{

        p{
          font-size: .875rem;
        }

        h3{
          font-size: 1.2rem;
        }
      }

      .languageUserContainer{
        flex-direction: row;
        gap: 10px;
      }
    }
 }
}

@media(min-width: 1000px){

  .content{

    .header{
      padding: 10px 20px;

      .headerTitle{

        p{
          font-size: .9375rem;
        }

        h3{
          font-size: 1.3rem;
        }
      }

      .languageUserContainer{
        gap: 30px;

        .user-container{
          flex-direction: row-reverse;

          .user-article{
            align-items: flex-end;
          }
        }
      }
    }
  }
}
