<app-sidebar></app-sidebar>
<main class="content">
  <!-- Header -->
  <header class="header">
    <div class="slaca">      
      <h1>SLACA 2019</h1>
    </div>
    <article class="headerTitle">
      <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <h3>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h3>
      <p>ISSN: 1234-5678</p>
    </article>

    <div class="UserContainer">
      <div class="language-container">
        <img src="../assets/language-icon.svg" alt="Language-pt-Br">
        <div>
          <option value="PT-BR">PT-BR</option>
        </div>
        <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 5L7 1H1L4 5Z" fill="#333333" stroke="#333333"></path>
        </svg>
      </div>

      <div class="user-container">
        <div class="img-container">
          <img src="../assets/user-img.png" alt="User image">
          <span>2</span>
        </div>

        <article class="user-article">
          <h5>Bem vindo(a)!</h5>
          <p>alguem12@galoascience.com</p>
        </article>

      </div>
    </div>
  </header>

  <!--1º Section-->
  <app-apresentation></app-apresentation>

  <!--2º Section Box Resumo-->
  <app-resume></app-resume>  


  <!--3º Secion Box Discussões-->
  <app-discussoes></app-discussoes>
  
  <footer>
    <img src="./assets/galoa.png" alt="Galoá">
  </footer>
</main>