@import 'src/styles/Default.scss';

.SectionApresentacao{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 30px 30px 30px;

    .HeaderVideoContainer{
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2{
        font-family: $roboto;
        font-size: 1.2rem;
        font-weight: 700;
        color: #ed7839;
        text-align: center;
        letter-spacing: 1.1px;
      }

      img{
        width: 100%;
        cursor: pointer;
      }
    }


    .BoxCitacao{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .ButtonsContainer{
        display: flex;
        gap: 5px;
        margin-bottom: 10px;

        .Button{
          border: none;
          outline: none;
          padding: 6px 12px;
          background-color: #ed7839;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: .2s;

          &.Download{
            gap: 6px;
            color: white;
            font-family: $roboto;
            font-weight: 400;
            font-size: 1rem;
          }

          &:hover{
            background-color: #b45d2e;
          }
        }
      }

      .ComoCitar{
        font-family: $roboto;
        font-weight: 400;
        font-size: .9375rem;
        text-transform: uppercase;
        color: #ed7839;
      }

      .DetalhesContainer{
        border: 1px solid rgb(216, 216, 216);

        ::-webkit-scrollbar {
          width: 6px;
        }

        ::-webkit-scrollbar-thumb {
            background: #dddbdb;
            border-radius: 3px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgb(167, 163, 163);
        }

        header{
          background-color: #fdf1eb;
          padding: 10px;

          h5{
            font-family: $roboto;
            font-weight: 400;
            font-size: 1.2rem;
            color: rgb(85, 85, 85);
          }
        }

        .DetalhesDeCitacoes{
          height: 300px;
          padding: 25px;
          overflow-y: scroll;

          .TipoDeApresentacao{
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-bottom: 20px;

            p{
              font-family: $roboto;
              font-weight: 300;
              font-size: .8125rem;
              color: rgb(85, 85, 85);

              strong{
                font-weight: 500;
              }
            }
          }

          .Autor{
            display: flex;
            flex-direction: column;
            gap: 3px;
            margin-bottom: 40px;

            h6{
              font-family: $roboto;
              font-weight: 400;
              font-size: 0.9rem;
              color: rgb(85, 85, 85);
                          }

            p{
              font-family: $roboto;
              font-weight: 300;
              font-size: .875rem;
              color: rgb(85, 85, 85);
            }
          }

          .Universidade{
            display: flex;
            flex-direction: column;
            gap: 2px;
            margin-bottom: 30px;

            p{
              font-family: $roboto;
              font-weight: 300;
              font-size: .8125rem;
              color: rgb(151, 151, 151);
            }
          }
        }
      }
    }
  }

  
  
  @media(min-width: 771px){
    .SectionApresentacao{
        flex-direction: row;
        justify-content: space-around;
        
       
  
        .HeaderVideoContainer{
          width: 100%;
          margin: 0px 20px 0px 0px;
        }
  
        .BoxCitacao{
          margin-top: 0;
  
          .ButtonsContainer{
            margin-bottom: 3px;
            justify-content: right;
            width: auto;
            
          }
  
          .ComoCitar{
            font-size: .875rem;
            text-align: end;
          }
  
          .DetalhesContainer{
            height: 100%;
            width: 250px;
  
            header{
  
              h5{
                font-size: 1.2rem;
              }
            }
  
            .DetalhesDeCitacoes{
              height: 330px;
            }
          }
        }
      } 


  }

  
  