@import 'src/styles.scss';


.container{
  background-color: white;
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.737);
  transform: translateX(-100%);
  transition: .4s;

  .close{
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-family: $roboto;
    border-radius: 100%;
    cursor: pointer;

    svg{
      rotate: 45deg;
      rect{
        transition: .2s;
      }
    }


    &:hover{
      color: rgb(203, 203, 203);

      svg{
        rect{
          fill: red;
        }
      }
    }
  }

  header{
    background: $orange-gradient;
    padding: 20px 10px;
    text-align: center;

    h1{
      font-size: 2rem;
      font-family: $roboto;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
    }
  }

  img{
    width: 80%;
    margin: 0 auto;
  }

  .links-lista{
    display: flex;
    flex-direction: column;

    li{
      position: relative;
      padding: 10px;
      padding-left: 30px;
      border-bottom: 2px solid rgba(201, 201, 201, 0.475);
      font-family: $roboto;
      color: rgb(78, 78, 78);
      font-weight: 300;
      font-size: .9375rem;
      cursor: pointer;
      transition: .2s;

      &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: transparent;
        transition: .2s;
      }

      &.active, &:hover{
        padding-left: 40px;
        background-color: #fdf1eb;

        &::before{
          background: $orange-gradient;
        }
      }
    }
  }

  .open{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: 20px;
    background: $orange-gradient;
    border: 0;
    border: 1px solid white;
    color: white;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }

  &.sidebarOpened{
    transform: translateX(0);

    .open{
      display: none;
    }
  }
}

@media(min-width: 768px){
  .container{
    transform: translateX(0);

    .close{
      display: none;
    }

    .open{
      display: none;
    }

    &.sidebarOpened{

      .open{
        display: none;
      }
    }
  }
}
