/* You can add global styles to this file, and also import other style files */
@import './styles/Default.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ErrorAlert{
  color: red;
  font-size: .8rem;
  font-family: $roboto;
  font-weight: 500;
}
